

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

/* Shared style */

.heading{
    font-size: 35px;
    font-weight: 900px;
    text-align: center;
    margin-bottom: 20px;
    color: #0D1321;
}

.description{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 80px;
}

.card-btn{
    border: none;
    background-color:#ffdad998 ;
    
}

.card-btn-2{
    background-color: #0066f41c;
}

.card-btn a{
    color: #0D1321;
    font-weight: bold;
}

.btn-2{
    border: none;
    color: #0D1321;
}



/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    align-items: center;
}

.nav-title{
    font-size: 28px;
    color: #0D1321;
    font-weight: 900px;
}

.nav-btn{
    padding: 17px 24px;
    border-radius: 8px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600px;
}

/* Banner section design*/

.banner-part{
    background-image: url(./assets/Hero-bg.png);
    height: 652px;
    
    
}

.banner-info{
    
    width: 1000px;
    margin: auto;
    text-align: center;
}

.banner-title{
    font-size: 48px;
    font-weight: 900px;
}

.banner-description{
    font-size: 16px;
    line-height: 30px;
}

.banner-btn{
    padding: 21px 24px;
    background-color: #0D1321;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600px;
}

/* About section style */

.about{
    width: 950px;
    margin: auto;
    margin-top: 100px;
    background-color: #ffdad933;
}

.about-title{
    text-align: center;
}

.layer-1{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 150px;
    
    
}

.layer-des{
    width: 480px;
}

.img-1{
    width: 240px;
}

.about-btn{
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600px;
}

/* inspire section style */

.inspiration{
    width: 1140px;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.vedio{
    margin-bottom: 100px;
}

/* Current Target Section */

.current-target{
    margin-top: 200px;
    width: 1240px;
    margin: auto;
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 150px;
}
 
.card-1{
    width: 364px;
    height: 500px;
    background-color: #ffdad998;
    padding: 40px ;
    margin-right: 20px;
    margin-left: 20px;
    
}

.card-2{
    width: 364px;
    height: 500px;
    background-color: #0066f452;
    padding: 40px ;
    margin-right: 20px;
    margin-left: 20px;
}

/* next Target Section style */

.next-target{
    width: 1240px;
    margin: auto;
    margin-bottom: 100px;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 8px;
    padding: 40px;
    margin-bottom: 15px;

}


/* support section style */

.support{
    background-image: url(./assets/handshake.jpg);
  
    width: 1240px;
    height: 600px;
    margin: auto;
    background-size: cover;
    
    margin-bottom: 100px;
}



.label{
   width: 1240px;
   margin: auto;
   margin-left: 220px;

}

input{
    width: 500px;
    height: 20px;
    padding: 19px 20px;
    border-radius: 10px;
    
    
}

.sup-section{
    padding: 200px 70px;
}

.btn{
    width: 90px;
    height: 60px;
    padding: 20px 17px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}


.text-color{
    color: #f0f0f7e0;
    font-weight: 900;
    font-size: 30px;
}



/* footer section style */
.footer-section{
    display: flex;
    justify-content: space-between;
    width: 1240px;
    margin: auto;
    background-color: #ffdad960;
    margin-bottom: 80px;
    
}

.footer-margin{
    margin-right: 20px;
}

